<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="PAL Category"
            id="ViewPlugin">
      </category>
      <view
            name="PAL View"
            icon="icons/sample.gif"
            category="ViewPlugin"
            class="com.sap.ndb.studio.pal.ui.view.PALView"
            id="com.sap.ndb.studio.pal.ui.view.PALView">
      </view>
   </extension>
      <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.sap.ndb.studio.pal.ui.view.PALView">
         </view>
      </perspectiveExtension>
   </extension>
      <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
	<extension point="org.eclipse.ui.menus">
      <menuContribution
      		allPopups="false"
      		locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
             commandId="com.sap.ndb.studio.pal.ui.command.pal"
             label="PAL"
             style="push">
           <visibleWhen
                  checkEnabled="false">
               	   <with
                      variable="selection">
                      <and>
                      <count
                            value="1">
                      </count>
                      <reference
                            definitionId="com.sap.ndb.studio.pal.ui.definition.validtable">
                      </reference>
                   </and>
                </with>
               </visibleWhen>
         </command>    
        </menuContribution>
     </extension>
     <extension point="org.eclipse.ui.handlers">
     	 <handler
     	 	commandId="com.sap.ndb.studio.pal.ui.command.pal"
     	    class="com.sap.ndb.studio.pal.ui.handler.PalHandler"
            >
         <activeWhen>
            <reference
                  definitionId="com.sap.ndb.studio.pal.ui.definition.validtable">
            </reference>
         </activeWhen>        
      </handler>
     </extension>
     <extension
        point="org.eclipse.core.expressions.definitions">
        
        <definition
        	id = "com.sap.ndb.studio.pal.ui.definition.validtable">
        	 <with
                 variable="selection">
              <and>
                 <count
                       value="1">
                 </count>
        		 <iterate>
                            <instanceof
                                  value="com.sap.ndb.studio.catalog.ITableNDB">
                            </instanceof>
                   </iterate>
                   </and>
           </with> 
        	</definition>
       </extension>
</plugin>
