<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="PAL Category"
            id="ViewPlugin">
      </category>
      <view
            name="PAL View"
            icon="icons/sample.gif"
            category="ViewPlugin"
            class="com.sap.ndb.studio.pal.ui.PALView"
            id="com.sap.ndb.studio.pal.ui.view.PALView">
      </view>
   </extension>
      <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="viewplugin.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
      <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
